<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>T web</title>
    <link rel="stylesheet" href="home/static/css/style.css" rel=stylesheet>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>{{.headTip}} <a href="/logout">退出</a></h1>
        </div>

        <div class="body">
            <div class="main">
                <div class="box">
                    <div class="content">
                        <a href="/">
                            <img src="home/static/img/shimei.png" alt="" class="icon">
                            <h4>待办事项</h4>
                        </a>

                    </div>
                </div>

                <div class="box">
                    <div class="content">
                        <a href="/">
                            <img src="home/static/img/头像1.jpeg" alt="" class="icon">
                            <!-- <p>最快的脚步不是跨越，而是继续；最慢的步伐不是缓慢，而是徘徊；最好的道路不是大道，而是坦荡</p> -->
                            <h4>我的网盘</h4>
                        </a>

                    </div>
                </div>
                <div class="box">
                    <div class="content">
                        <a href="/">
                            <img src="home/static/img/shimei.png" alt="" class="icon">
                            <!-- <p>最快的脚步不是跨越，而是继续；最慢的步伐不是缓慢，而是徘徊；最好的道路不是大道，而是坦荡</p> -->
                            <h4>todolist</h4>
                        </a>

                    </div>
                </div>
                <div class="box">
                    <div class="content">
                        <a href="/">
                            <img src="home/static/img/头像1.jpeg" alt="" class="icon">
                            <!-- <p>最快的脚步不是跨越，而是继续；最慢的步伐不是缓慢，而是徘徊；最好的道路不是大道，而是坦荡</p> -->
                            <h4>我的网盘</h4>
                        </a>

                    </div>
                </div>
                <div class="box">
                    <div class="content">
                        <a href="/">
                            <img src="home/static/img/shimei.png" alt="" class="icon">
                            <!-- <p>最快的脚步不是跨越，而是继续；最慢的步伐不是缓慢，而是徘徊；最好的道路不是大道，而是坦荡</p> -->
                            <h4>待办事项</h4>
                        </a>

                    </div>
                </div>
                <div class="box">
                    <div class="content">
                        <a href="/">
                            <img src="home/static/img/头像1.jpeg" alt="" class="icon">
                            <!-- <p>最快的脚步不是跨越，而是继续；最慢的步伐不是缓慢，而是徘徊；最好的道路不是大道，而是坦荡</p> -->
                            <h4>我的网盘</h4>
                        </a>

                    </div>
                </div>
                <div class="box">
                    <div class="content">
                        <a href="/">
                            <img src="home/static/img/shimei.png" alt="" class="icon">
                            <!-- <p>最快的脚步不是跨越，而是继续；最慢的步伐不是缓慢，而是徘徊；最好的道路不是大道，而是坦荡</p> -->
                            <h4>待办事项</h4>
                        </a>

                    </div>
                </div>
                <div class="box">
                    <div class="content">
                        <a href="/home">
                            <img src="home/static/img/shimei.png" alt="" class="icon">
                            <!-- <p>最快的脚步不是跨越，而是继续；最慢的步伐不是缓慢，而是徘徊；最好的道路不是大道，而是坦荡</p> -->
                            <h4>待办事项</h4>
                        </a>

                    </div>
                </div>
                <div class="box">
                    <div class="content">
                        <a href="/home">
                            <img src="home/static/img/shimei.png" alt="" class="icon">
                            <!-- <p>最快的脚步不是跨越，而是继续；最慢的步伐不是缓慢，而是徘徊；最好的道路不是大道，而是坦荡</p> -->
                            <h4>待办事项</h4>
                        </a>

                    </div>
                </div>
                <div class="box">
                    <div class="content">
                        <a href="/home">
                            <img src="home/static/img/shimei.png" alt="" class="icon">
                            <!-- <p>最快的脚步不是跨越，而是继续；最慢的步伐不是缓慢，而是徘徊；最好的道路不是大道，而是坦荡</p> -->
                            <h4>待办事项</h4>
                        </a>

                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="footer"></div> -->
    </div>
</body>

</html>