* {
    margin: 0;
    padding: 0;
}


html, body {
    background: #BBBBBB;
    /*background: #999999;*/
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    /*background-color: green;*/
}

.header #top {
    width: 100%;
    height: 12%;
}

#top span {
    padding-left: 20px;
}

#top span a {
    float: right;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header #clock {
    width: 100%;
    flex: 1;
}

.header #search-box {
    width: 100%;
    height: 25%;
    /*background: #7BA7AB;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
}


.main {
    max-width: 1500px;
    min-width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main .box {
    width: 80px;
    height: 110px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #121e27;
    border-radius: 10px;
}


.main .box:hover {
    width: 85px;
    height: 130px;
    transition:width 1s;

}

.main .content {
    text-align: center;
}

.main .content h4 {
    font-size: 15px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 600;
}

.main .content .icon {
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
}

.main .content a {
    text-decoration: none;
}

/* .footer {
    height: 8%;
    background-color: yellow; 
} */

#clock {
    text-align: center;
    color: #daf6ff;
    text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
}


#clock #date {
    letter-spacing: 0.1em;
    font-size: 24px;
}

#clock #time {
    letter-spacing: 0.05em;
    font-size: 60px;
    /*padding: 5px 0;*/
    padding: 0;
}

#clock #text {
    letter-spacing: 0.1em;
    font-size: 15px;
    /*padding: 20px 0 0;*/
    padding: 0;
}


#clock p {
    margin: 0;
    padding: 0;
}


#search-inner-box {
    width: 350px;
    height: 44px;
}

#search-inner-box form {
    height: 44px;
    position: relative;
    width: 320px;
    margin: 0 auto;
}

#search-inner-box input, button {
    border: none;
    outline: none;
}

#search-inner-box input {
    width:250px;
    height: 42px;
    padding-left:13px;
    border-radius:42px;
    border:2px solid #324B4E;
    background:#F9F0DA;
    transition:.3s linear;
    float:right;
}
#search-inner-box input:focus {
    width: 300px;
}
#search-inner-box button {
    height: 42px;
    width: 42px;
    cursor: pointer;
    position: absolute;
    background: none;
    /*top: -2px;*/
    right: 20px;
}
#search-inner-box button:before{
    content: "搜索";
    font-family: FontAwesome;
    /*color: #324b4e;*/
}