* {
    margin: 0;
    padding: 0;
}


html, body {
    background: #33d1a0;
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 35%;
    background-color: green;
}

.body {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;

    /* padding: 20px 50px; */
    /* display: flex;
    flex-wrap: wrap; */
}


.main {
    max-width: 1500px;
    min-width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
}

.main .box {
    width: 80px;
    height: 110px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #121e27;
    border-radius: 10px;
}


.main .box:hover {
    width: 85px;
    height: 130px;
    transition:width 1s;

}

.main .content {
    text-align: center;
}

.main .content h4 {
    font-size: 15px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 600;
}

.main .content .icon {
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
}

.main .content a {
    text-decoration: none;
}

/* .footer {
    height: 8%;
    background-color: yellow; 
} */

